<%layout('layouts/boilerplate')%>
    <h1>campground</h1>
    <div>
        <a href="/campground/new">Add campground</a>
    </div>
    <ul>
        <% for (let campground of campgrounds){%>
            <li><a href="/campground/<%= campground._id%>"><%= campground.title %></a></li>
        <% } %>
    </ul>
